.background {
    background-image: linear-gradient(60deg, black, rgba(255, 255, 255, 0.297), rgb(37, 37, 255));
    height: 1000px;
    filter: blur(40px);
    opacity: 0.2;
}

body {
    background-color: black;
}


.navbar {
    color: white;
}

.navbuttons {
    color: white;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}